.app{
    display: grid;
    margin: 0 auto;
    width: 300px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px repeat(5, 30px);
    grid-template-areas: 
    "res res res res"
    "7 8 9 reset"
    "4 5 6 reset"
    "1 2 3 sin"
    "0 dot plus minus"
    "equal equal times div";
    border: 2px teal solid;
    border-radius: 4px;

}
h3{
    text-align: right;
    font-size: 2rem;
    margin: 7px 10px 0 0;
    grid-area: res;
}
button{
    background: teal;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}
button:hover{
    background: rgb(11, 192, 192);
}
#equal{
    grid-area: equal;
}
#clear{
    grid-area: reset;
}